---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

import { SocialButton } from "@/components/segments/SocialButton";
import { getSlug } from "@/util/common";

export interface Props {
  author: string;
}

const { author } = Astro.props;

const authorEntry = await getEntry("author", author);

if (authorEntry === undefined)
  throw new Error("'author' attribute on 'AuthorGreet' tag does not exist");

const socials = authorEntry.data.socials;
---

<div class="grid md:grid-cols-5 md:px-12 md:gap-5 text-skin-base">
  <!-- thumb -->
  <div class="md:col-span-2 rotate-1 max-w-sm m-auto">
    <Image
      src={authorEntry.data.image}
      alt={authorEntry.data.name}
      width={1028}
      height={1028}
      class="shadow-black shadow-md rounded-lg"
      transition:name={`author-img-${getSlug(authorEntry.data.name)}`}
    />
  </div>
  <!-- text -->
  <div class="md:col-span-3 text-xl lg:text-2xl max-md:my-8">
    <slot />
  </div>

  <!-- socials -->
  <ul class="flex-row sm:flex w-full gap-3">
    {
      socials.length !== 0 &&
        socials.map((social) => {
          if (social !== undefined) {
            return (
              <li class="max-w-[16rem] mx-auto">
                <SocialButton {...social} client:load />
              </li>
            );
          }
        })
    }
  </ul>
</div>
