---
import Card from '@/components/segments/Card';
import Carousel from '@/components/segments/Carousel';
import { SITE } from '@/config.mjs';
import PageLayout from '@/layouts/PageLayout.astro';
import { getSlug } from '@/util/common';
import { getPostsByAuthor } from '@/util/posts-utils';
import { getCollection, type CollectionEntry } from 'astro:content';

export interface Props {
  author: CollectionEntry<"author">;
}

export async function getStaticPaths() {
  const authors = await getCollection("author");

  return authors.map((author) => {
    return {
      params: { slug: getSlug(author.data.name) },
      props: {
        author,
      }
    }
  });
}

const { author } = Astro.props;

const authorPosts = (await getPostsByAuthor(author)).map(post => post.data);

const { Content } = await author.render();
---

<PageLayout>

  <section class="py-6">
    <Content />
  </section>

  <section class="w-full text-skin-base border-t-2 border-secondary">
    <h2 class="font-bold text-2xl text-center py-6 mb-1"><span class="text-skin-alternate">Últimos</span> posts compostos pelo autor</h2>
    {(authorPosts.length > 3) ?
      <!-- shows at max SITE.postsPerPage posts  -->
      <Carousel 
        sortedPosts={authorPosts} 
        maxIndex={(authorPosts.length >= SITE.postsPerPage) ? SITE.postsPerPage : authorPosts.length}
        client:visible />
    : <ul class="flex max-md:flex-col gap-4 min-h-[30rem]">
      {authorPosts.map(post => <li class="max-w-sm mx-auto"><Card post={post} client:visible /></li>)}
      </ul>}
  </section>
</PageLayout>
