@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  html[page-theme="light"] {
    --color-text-base: #0d0d0d;
    --color-text-muted: #2B2B2B;
    --color-text-accent: #01579B;
    --color-text-inverted: #EFA1CC;
    --bg-gradient: linear-gradient(to bottom, #B9A69F, #AE9991);
    --bg-primary: #1F2937;
    --bg-secondary: #6B21A8;
  }

  html[page-theme="dark"] {
    --color-text-base: #f7f7f7;
    --color-text-muted: #E0E0E0;
    --color-text-accent: #EFA1CC;
    --color-text-inverted: #01579B;
    --bg-gradient: linear-gradient(to bottom, #0a1429, #142952, #193366, #1f3d7a); 
    --bg-primary: #1F2937;
    --bg-secondary: #6B21A8;
  }
}

@layer components {
  .sidebar-opacity {
    background: rgba(0, 0, 0, 0.3);
  }

  .triangle {
    width: 0; 
    height: 0; 
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid white;
  }

  .hoverable-btn {
    @apply opacity-80 hover:opacity-100 transition-opacity ease-linear;
  }
}

