@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* catppuccin latte (modified) for lightmode and frappe for darkmode */
  :root,
  html[page-theme="dark"] {
    --rosewater: #f2d5cf;
    --flamingo: #eebebe;
    --pink: #f4b8e4;
    --mauve: #ca9ee6;
    --red: #e78284;
    --maroon: #ea999c;
    --peach: #ef9f76;
    --yellow: #e5c890;
    --green: #a6d189;
    --teal: #81c8be;
    --sky: #99d1db;
    --sapphire: #85c1dc;
    --blue: #8caaee;
    --lavender: #babbf1;
    --text: #c6d0f5;
    --subtext1: #b5bfe2;
    --subtext0: #a5adce;
    --overlay2: #949cbb;
    --overlay1: #838ba7;
    --overlay0: #737994;
    --surface2: #626880;
    --surface1: #51576d;
    --surface0: #414559;
    --base: #303446;
    --mantle: #292c3c;
    --crust: #232634;

    --shadow: #000;

    --bg-opacity: 0.02;
    --fg-opacity: 0.1;
  }

  html[page-theme="light"] {
    --rosewater: #dc8a78;
    --flamingo: #dd7878;
    --pink: #ea76cb;
    --mauve: #005b72;
    --red: #d20f39;
    --maroon: #800000;
    --peach: #d08770;
    --yellow: #df8e1d;
    --green: #40a02b;
    --teal: #179299;
    --sky: #04a5e5;
    --sapphire: #209fb5;
    --blue: #1e66f5;
    --lavender: #64485c;
    --text: #2e3440;
    --subtext1: #5c5f77;
    --subtext0: #3b4252;
    --overlay2: #7c7f93;
    --overlay1: #434c5e;
    --overlay0: #434c5e;
    --surface2: #acb0be;
    --surface1: #bcc0cc;
    --surface0: #ccd0da;
    --crust: #d8dee9;
    --mantle: #e6e9ef;
    --base: #fff;

    --shadow: #9ca3af;

    --bg-opacity: 0.08;
    --fg-opacity: 0.3;
  }

  html {
    font-display: optional;
  }
}

@layer components {
  .overlay-opacity {
    background: rgba(0, 0, 0, 0.3);
  }

  .submenu-triangle {
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid var(--surface0);
  }

  .buzzword-triangle {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid var(--surface1);
  }

  .hoverable-btn {
    @apply opacity-90 hover:opacity-100 hover:text-skin-selected transition-opacity ease-linear;
  }

  .background-opacity {
    opacity: var(--bg-opacity);
  }

  .foreground-opacity {
    opacity: var(--fg-opacity);
  }

  .display-none {
    display: none;
  }
}
