---
import PageDescription from "@/components/segments/PageDescription.astro";
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import { navLinks } from "@/resources/static/links";
import Summary from "@/components/tags/ui/Summary";

import { Image } from "astro:assets";
import astroLogo from "@/assets/astro.png";

const aboutPage = navLinks.filter((link) => link.slug === "about")[0];
---

<ArticleLayout>
  <PageDescription
    slot="header"
    pathToPage={[aboutPage.slug]}
    pageName={aboutPage.name}
    description={aboutPage.description}
  />

  <article class="mt-10">
    <Summary client:visible />

    <h2 id="heading-1">O que é este site</h2>
    <p>
      Esta página foi feita por mim, <a class="link" href="/authors/luks"
        >Luks</a
      >, para ser um site de notícias, artigos pessoais e tutoriais. A ideia
      inicialmente era que ela sirva como um repositório de conhecimento para o
      futuro, pois tenho péssima memória e esqueço das coisas que aprendo e
      descubro muito rápido.
    </p>
    <p>
      No entanto, decidi expandir a ideia para um site colaborativo entre
      amigos. Além disso, também uso esta página para documentar projetos
      pessoais.
    </p>

    <h2 id="heading-2">Como foi feito</h2>
    <p>
      Este site foi criado utilizando o gerador de páginas estáticas
      <a href="https://astro.build/">AstroJS</a>. Ele foi escolhido por ser
      leve, rápido, flexível e ter features de um framework web completo, como <i
        class="accent">file-based routing</i
      > e <span class="accent">otimização de imagens</span>. No entanto, a
      feature mais atrente do Astro são as suas <i class="accent"
        >Component Islands</i
      >.
    </p>
    <p>
      As <i class="accent">Component Islands</i> do Astro podem ser traduzidas para
      o português como "Ilhas de Componentes", e fazem exatamente o que você deve
      estar imaginando: isolam os componentes da sua página. Logo, o Astro te permite
      fazer coisas interessantes como:
    </p>
    <ul class="list-disc w-11/12 mx-auto mt-2 text-skin-base">
      <li>
        Utilizar e misturar componentes de diferentes bibliotecas e frameworks;
      </li>
      <li>
        Carregar componentes apenas quando certas condições são cumpridas;
      </li>
      <li>Isolar JavaScript e CSS de componentes</li>
    </ul>
    <div class="mx-auto w-fit p-4">
      <Image src={astroLogo} alt="AstroJS Logo" width={218} />
    </div>
    <p>
      Algo que irrita da web moderna é como as páginas são pesadas e cheias de
      anúncios. O <span class="accent">AstroJS</span> por padrão gera as páginas
      com <span class="accent">Zero JavaScript</span>. Sabendo de tudo isso,
      decidi utilizar o Astro para construir este site.
    </p>

    <h2 id="heading-3">Por quê em Português?</h2>
    <p>
      Muitos programadores ao fazer um site pessoal os fazem em Inglês. No
      entanto, já há muito conteúdo bom disponível nessa língua na internet,
      logo não vejo o que posso trazer muito de novo. Além disso, como a maioria
      dos desenvolvedores que conheço são brasileiros, foi mais fácil encontrar
      pessoas dispostas a escrever neste site comigo. Por causa disso, decidi
      fazer este site em Português.
    </p>
  </article>
</ArticleLayout>
