---
import PageLayout from "@/layouts/PageLayout.astro";
import hero from "@/assets/LogoAlternate_fc.png";
import { getSortedPosts } from "@/util/posts-utils";

import Carousel from "@/components/segments/Carousel";
import { Image } from "astro:assets";
import { Checkmark } from "@/resources/static/Icons";

const description =
  "AllTheCookies é um pequeno blog colaborativo de tecnologia. Tendo como conteúdo notícias, tutoriais & artigos pessoais. Foi pensada para ser o mais perfomática e acessível possível.";

const sortedPosts = (await getSortedPosts()).map((post) => post.data);
---

<PageLayout>
  <!-- greeting -->
  <section
    class="py-12 max-w-5xl mx-auto xl:px-8 flex max-md:flex-col items-center justify-center"
  >
    <div class="text-skin-base">
      <h1 class="text-3xl lg:text-4xl xl:text-5xl font-bold pb-2">
        Bem vindo! <span class="text-skin-alternate">Aceite</span> todos os cookies.
      </h1>
      <p class="text-lg text-skin-subtext lg:text-xl max-w-xl">
        {description}
      </p>
    </div>
    <div class="relative w-fit mx-auto group flex items-center">
      <Image
        src={hero}
        alt="Cookie em uma página esperando ser aceito"
        class="max-lg:w-[20rem] max-w-[30rem]"
      />

      <div
        class="absolute bottom-14 right-10 lg:right-16 lg:bottom-1/4 opacity-0 group-hover:opacity-100 transition-opacity duration-200"
      >
        <Checkmark />
      </div>
    </div>
  </section>

  <!-- latest posts -->
  <section class="w-full mb-20">
    <h2
      class="text-skin-base text-center py-1 md:py-3 font-bold text-xl sm:text-2xl md:text-3xl"
    >
      Nossas <span class="text-skin-accent-secondary">últimas</span> postagens
    </h2>
    <div class="mt-4">
      <Carousel sortedPosts={sortedPosts} client:visible />
    </div>
  </section>

  <section
    class="flex flex-col gap-3 text-skin-base text-2xl lg:text-3xl font-bold mb-8 max-w-2xl mx-auto p-8 border-l-4 border-secondary bg-mantle rounded-r-md"
  >
    <h2>
      Não perca <span class="text-skin-alternate">nenhum</span> post
    </h2>
    <p class="text-lg text-skin-subtext font-normal">
      Adicione o RSS da nossa página no seu agregador favorito de notícias!
    </p>
    <a
      class="text-lg text-skin-accent opacity-90 hover:opacity-100 transition-opacity duration-300"
      href="/rss.xml">{">  Clique aqui para acessar o feed"}</a
    >
  </section>
</PageLayout>
