---
import PageLayout from "@/layouts/PageLayout.astro";
import PageDescription from "@/components/segments/PageDescription.astro";
import SearchBar from "@/components/segments/Search";
import { getCollection } from "astro:content";

// retrieves all posts that are not drafts
const posts = await getCollection("post", ({data}) => !data.draft);

const postsToSearch = posts.map(({ data }) => data);
---

<PageLayout>
  <PageDescription categoriesPath={["search"]} 
                   pageName="Buscar" 
                   description="Busque por qualquer coisa..." />

  <div class="pt-5 flex flex-col items-center">
    <SearchBar elementsToSearch={postsToSearch} client:load />
  </div>
</PageLayout>

