---
import { Github } from "@/assets/static/Icons";

const currentYear = new Date().getUTCFullYear();
---

<footer class="flex justify-between bg-mantle py-2 px-4 w-full text-skin-base text-sm items-center">
  <ul>
    <li class="hoverable-btn">
      <a href="https://github.com/Luks17/AllTheCookies"><Github /></a>
    </li>
  </ul>
  <p>© {currentYear} Lucas Dávalos</p> 
</footer>
