---
import { Github, RSS } from "@/resources/static/Icons";

const currentYear = new Date().getUTCFullYear();
---

<footer
  class="flex justify-between border-t-2 border-third bg-mantle py-3 px-5 w-full text-skin-base text-sm items-center"
>
  <ul class="flex gap-x-4">
    <li class="hoverable-btn">
      <a aria-label="Visualizar feed RSS da página" href="/rss.xml"><RSS /></a>
    </li>
    <li class="hoverable-btn">
      <a
        aria-label="Ir para o github da página"
        href="https://github.com/Luks17/AllTheCookies"><Github /></a
      >
    </li>
  </ul>
  <p>© {currentYear} Lucas Dávalos</p>
</footer>
