---
import Logo from "@/components/Logo.astro";
import SidebarButton from "@/components/segments/SidebarButton";
import SearchButton from "@/components/segments/SearchButton";
import Navbar from "@/components/base/Navbar";
import ThemeToggle from "@/components/segments/ThemeToggle";
---

<header
  class="py-5 lg:py-7 border-b-4 border-b-primary bg-crust px-3 w-full z-10"
>
  <div class="max-w-7xl mx-auto flex items-center justify-between">
    <Logo />

    <div class="hidden lg:flex justify-start items-center">
      <Navbar client:media="(min-width: 1024px)" />
    </div>

    <ul class="flex gap-3 text-skin-base items-center justify-end">
      <li class="hoverable-btn">
        <SearchButton client:idle />
      </li>

      <li class="hidden lg:flex">
        <ThemeToggle client:media="(min-width: 1024px)" />
      </li>

      <!-- sidebar-open mobile - JS only load when screen is smaller than 1024px -->
      <li class="lg:hidden hoverable-btn">
        <SidebarButton client:media="(max-width: 1024px)" />
      </li>
    </ul>
  </div>
</header>
