---
export interface Props {
  pages: number;
  slugsPath: string[];
  pageName: string;
  description: string;
}

const { pages, slugsPath: slugs, pageName, description } = Astro.props;

let pageNumber = "";
if (pages > 1) {
  pageNumber = ` (Página ${"1"} de ${pages})`;
}
---

<div class="flex-col">
  <h6 class="text-skin-subtext">
    <span class="capitalize">{slugs.join(" > ")}</span>
    {pageNumber}
  </h6>
  <h1 class="text-skin-base capitalize text-3xl">{pageName}</h1>
  <p class="text-skin-subtext">{description}</p>
</div>
