---
export interface Props {
  pages?: number;
  categoriesPath: string[];
  pageName: string;
  description: string;
}

const { pages=1, categoriesPath, pageName, description } = Astro.props;

let pageNumber = "";
if (pages > 1) {
  pageNumber = ` (Página ${"1"} de ${pages})`;
}
---

<div
  class="flex-col bg-gradient-to-t from-crust via-mantle to-primary border-secondary border-b-2 px-4 pb-4 pt-20 max-w-4xl mx-auto text-md lg:text-lg rounded-lg"
>
  <h6 class="text-skin-accent-secondary font-semibold">
    <span class="capitalize">{"Home > " + categoriesPath.join(" > ")}</span>
    {pages > 1 && pageNumber}
  </h6>
  <h1 class="text-skin-base capitalize font-bold text-3xl lg:text-4xl py-2">
    {pageName}
  </h1>
  <p class="text-skin-subtext font-semibold">
    {description}
  </p>
</div>
