---
// tags styles
import "@/styles/tags/aside.css";

// other imports
import PageLayout from "./PageLayout.astro";
import PostHeadline from "@/components/segments/PostHeadline.astro";

import type { CollectionEntry } from "astro:content";


export interface Props {
  article: CollectionEntry<"post">,
}

const { article } = Astro.props;

const { Content } = await article.render();
---

<PageLayout>
  <PostHeadline post={article.data} />

  <section class="text-skin-base post-body">
    <Content />
  </section>

  <!-- scroll back to top btn -->
  <section class="scroll-btn-container absolute top-0 right-4 h-full">
    <a href="#top" class="bg-fg-base rounded-full text-skin-muted hoverable-btn px-3 py-2">↑</a>
  </section>

  <style>
    .scroll-btn-container:before {
      content: '';
      display: block;
      height: 100vh;
      pointer-events: none;
    }

    .scroll-btn-container a {
      position: sticky;
      top: 90vh;
      font-size: 20px;
    }
  </style>

</PageLayout>

<!-- aside tag script -->
<script>
const buttons = document.querySelectorAll(".title"); 
const contents = document.querySelectorAll(".content");
const chevrons = document.querySelectorAll(".chevron");

function handleClick(id: number) {
  chevrons?.item(id).classList.toggle("-rotate-180"); 
  contents?.item(id).classList.toggle("scale-y-0");
  contents?.item(id).classList.toggle("absolute");
}

buttons?.forEach((button, id) => {
  button.addEventListener("click", () => handleClick(id));
});
</script>
