---
import PageLayout from "./PageLayout.astro";
import type { MetaTags as Props } from "@/types/Meta";

const meta = Astro.props;
---

<PageLayout {...meta}>
  <section>
    <slot name="header" />
  </section>

  <section class="text-skin-base max-w-3xl mx-auto">
    <slot />
  </section>

  <!-- scroll back to top btn -->
  <aside class="scroll-btn-container absolute top-0 right-4 h-full">
    <a
      href="#top"
      class="bg-fg-base rounded-full text-skin-muted hoverable-btn px-3 py-2"
      >↑</a
    >
  </aside>

  <style>
    .scroll-btn-container:before {
      content: "";
      display: block;
      height: 100vh;
      pointer-events: none;
    }

    .scroll-btn-container a {
      position: sticky;
      top: 90vh;
      font-size: 20px;
    }
  </style>
</PageLayout>
