---
import "@/styles/article.css";

import PageLayout from "./PageLayout.astro";
import type { MetaTags as Props } from "@/types/Meta";

const meta = Astro.props;
---

<PageLayout {...meta}>
  <section>
    <slot name="header" />
  </section>

  <section class="max-w-[45rem] mx-auto content-body">
    <slot />
  </section>

  <!-- scroll back to top btn -->
  <aside
    class="scroll-btn-container absolute top-0 right-4 lg:right-12 h-full z-10"
  >
    <a
      href="#top"
      class="bg-fg-base rounded-full text-skin-muted hoverable-btn border-crust border-[1px] px-4 py-2 text-lg"
      >↑</a
    >
  </aside>

  <style>
    .scroll-btn-container:before {
      content: "";
      display: block;
      height: 100vh;
      pointer-events: none;
    }

    .scroll-btn-container a {
      position: sticky;
      top: 90vh;
    }
  </style>
</PageLayout>
