---
import Meta from "@/components/base/Meta.astro";
import type { MetaTags } from "@/types/Meta";
import { SITE } from "@/config.mjs";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description, author, socialImage } = SITE;

const meta: MetaTags = {
  canonicalURL,
  title,
  description,
  author,
  socialImage,
};
---

<!DOCTYPE html>
<html lang="pt" class="scroll-smooth">
  <head>
    <Meta {...meta} />
  </head>

  <!-- lining-nums fixes raleway font oddly placed numbers -->
  <!-- overflow-x-hidden is needed so absolute elements don't make the horizontal scrollbar appear -->
  <body class="bg-primary h-full w-full font-primary lining-nums overflow-x-hidden">
    <slot />
  </body>
</html>
