---
import "@/styles/base.css";

import Layout from "./BaseLayout.astro";
import Header from "@/components/base/Header.astro";
import Sidebar from "@/components/base/Sidebar";
---

<Layout>
  <!-- 
    client:media only loads the component JS when a css condition is met 
  -->
  <Header />
  <Sidebar client:media="(max-width: 1024px)" />

  <main class="mx-auto max-w-[90rem] items-center pb-10 pr-10 pl-10">
    <slot />
  </main>

  <script>
    import { getCurrentTheme, setTheme } from "@/util/theme";

    setTheme(getCurrentTheme());
  </script>
</Layout>
