---
import "@/styles/base.css";

import Layout from "./BaseLayout.astro";
import Header from "@/components/base/Header";
import Sidebar from "@/components/base/Sidebar";
import PageThemeScripts from "@/util/PageThemeScripts.astro";
---

<Layout>
  <Header client:load />
  <Sidebar client:load />

  <main>
    <slot />
  </main>

  <PageThemeScripts />
</Layout>
