---
import "@/styles/base.css";

import { getImage } from "astro:assets";

import Layout from "./BaseLayout.astro";
import Header from "@/components/base/Header.astro";
import Sidebar from "@/components/base/Sidebar";
import Footer from "@/components/base/Footer.astro";
import Search from "@/components/segments/Search";
import ScrollTopBtn from "@/components/segments/ScrollTopBtn";
import background from "/public/assets/bg.png";

import { getUnsortedPosts, optimizePostImages } from "@/util/posts-utils";

const optimizedBg = await getImage({ src: background });

const posts = await getUnsortedPosts();
const postsToSearch = await optimizePostImages(posts);
---

<Layout>
  <!-- 
    client:media only loads the component JS when a css condition is met 
    client:only renders component only in client (no static content)
  -->
  <Header />
  <Sidebar client:media="(max-width: 1024px)" />
  <Search elementsToSearch={postsToSearch} client:only="react" />

  <main class="relative min-h-screen">
    <div style={`background-image: url('${optimizedBg.src}')`} class="left-0 top-0 absolute h-full 
      w-full -z-50 background-opacity rotate-1 bg-contain"></div>
    <div class="mx-auto max-w-7xl pb-10 px-10 ">
      <slot />
      <ScrollTopBtn client:idle />
    </div>
  </main>

  <Footer />


  <script>
    import { setPreferredTheme } from "@/resources/stores/theme-store";
    import { openSearch } from "@/resources/stores/nav-store";

    const query = new URLSearchParams(window.location.search).get("q");

    if(query !== null)
      openSearch();

    setPreferredTheme();
  </script>
</Layout>
