---
import "@/styles/base.css";

import Layout from "./BaseLayout.astro";
import Header from "@/components/base/Header.astro";
import Sidebar from "@/components/base/Sidebar";
import PageThemeScripts from "@/util/PageThemeScripts.astro";
---

<Layout>
  <!-- 
    client:media only loads the component JS when a css condition is met 
  -->
  <Header />
  <Sidebar client:media="(max-width: 768px)" />

  <main>
    <slot />
  </main>

  <PageThemeScripts />
</Layout>
