---
import { getImage } from "astro:assets";

import type { MetaTags as Props } from "@/types/Meta";

import Layout from "./BaseLayout.astro";
import Header from "@/components/base/Header.astro";
import Sidebar from "@/components/base/Sidebar";
import Footer from "@/components/base/Footer.astro";
import Search from "@/components/segments/Search";
import background from "@/assets/bg.png";
import logo from "@/assets/Logo.png";

import { getUnsortedPosts } from "@/util/posts-utils";

const meta = Astro.props;

// reduces size and converts to webp
const optimizedBg = await getImage({
  src: background,
  width: 892,
  height: 568,
});

const postsToSearch = (await getUnsortedPosts()).map((post) => post.data);

// sends this page background, which is this website LCP on most pages, to be loaded asap
if (meta.largestContentfulPaint === undefined)
  meta.largestContentfulPaint = optimizedBg.src;

// use website logo as default canonical image
if (meta.socialImage === undefined) {
  const optLogo = await getImage({ src: logo, width: 400, height: 400 });
  meta.socialImage = optLogo.src;
}
---

<Layout {...meta}>
  <!-- 
    client:media only loads the component JS when a css condition is met 
    client:idle renders component after a delay
  -->
  <Header />
  <Sidebar client:media="(max-width: 1024px)" />
  <Search elementsToSearch={postsToSearch} client:idle />

  <!-- overflow-x-clip is needed so absolute elements don't make the horizontal scrollbar appear -->
  <main class="relative min-h-screen overflow-x-clip">
    <div
      style={`background-image: url('${optimizedBg.src}')`}
      class="left-0 top-0 absolute h-full w-full -z-50 background-opacity rotate-1"
    >
    </div>
    <div class="mx-auto max-w-7xl pb-10 px-10">
      <slot />
    </div>
  </main>

  <Footer />
</Layout>
